flask-backend/flask_pid.txt
Dynatrace_Config_Manager*
DTCM*
data
flask-backend/dynatrace-terraform-provider/terraform-provider-dynatrace_v1.27.0.exe
flask-backend/monaco/monaco-windows-amd64.exe.entities-only
flask-backend/terraform/terraform-provider-dynatrace_v1.8.3*
flask-backend/terraform/terraform.exe
flask-backend/terraform/dynatrace.com/
flask-backend/terraform/windows_amd64.lnk
flask-backend/terraform/windows_amd64 - Terraform.lnk
